@font-face{
     font-family: 'Roboto', sans-serif;

}

#blocpage{
    width: 90%;
    margin: auto;
    
}
body{
    font-family: 'Roboto', sans-serif;
}
    body{
        margin: 0px;
    }
    h2{
        margin-left: 30px;
    }
    #blocpage{
        width: 100%;
        animation-name: animationcentrale;
        animation-duration: 1000ms;
        animation-delay: 2100ms;
        animation-fill-mode: both;
        animation-timing-function: ease-in-out;
    }
    header{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    header img{
        width: 40%;
        padding-top: 18px;
        padding-bottom: 5px;

    }
    #logo{
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);

        width: 100%;
        text-align: center;
    }
    #localisation{
        background-color: #eaeaea;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    #localisation a{
        padding-top: 13px;
        padding-bottom: 13px;
        text-decoration: none;
        color: #353535;
    }
    .loca{
        padding-right: 10px;
    }
    #Intro{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color:#f6f6f6 ;
        width: 100%;
    }
    header h1{
        width: 70%;
        text-align: center;
        font-size: 1.6em;
        padding-top: 10px;
        margin-bottom: 0px ;
    }
    header p{
        text-align: center;
        width: 85%;
        font-size: 1.3em;
    }
    .btn {
        width: 60%;
        background: linear-gradient(to bottom right,#e972da,#b561db);
        margin-top: 5px;
        margin-bottom: 35px;
        padding: 15px 8px 15px 8px;
        border-radius: 30px;
        border-style: none;
        font-size:105%;
        color: white;
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
        transition: all 200ms;

    }
    .btn:hover{
        filter: brightness(1.05);
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
    }
    nav{
        display: flex;
        align-items: center;
        flex-direction: column;

    }
    nav a{
        text-decoration: none;
        color: black;
        font-size: 1.3em;
    }
    .navigation{
        width: 80%;
        padding: 30px 8px 30px 8px;
        margin-bottom: 15px;
        border: 1px solid grey;
        border-radius: 20px;
        background-color: #f6f6f6;
        box-shadow:  2px 2px 2px 2px rgba(0, 0, 0, 0.01);
        border-style: none;

    }
    .navigation:active{
        background-color: #f5edff;

    }
    .nbnav{
        border: 1px solid black;
        border-style: none;
        border-radius: 60%;
        background-color: #9356dc ;
         margin-left: -18px;
        padding-left: 6px;
        padding-right: 3px;
        padding-top: 2px;
        padding-bottom: 2px;
        color: white;
    }
    .navicon{
        margin-right: 8%;
        margin-left: 8%;
    }
    .navigation:active .navicon{
        color: #9356dc;
    }

    .loader {
        position: absolute;
        border: 3px solid lightgrey; 
        border-top: 3px solid #9356dc; 
        border-radius: 50%;
        width: 60px;
        height: 60px;
        animation: spin 2200ms linear both;
        margin-left: 47%;
        margin-top: 600px;
    }

    @keyframes spin {
        0% { transform: rotate(0deg); opacity: 1;}

        80% {opacity: 0.8;}

        100% { transform: rotate(360deg); opacity: 0; }
    }

    /*Page centrale*/

    section{
        background-color: #f6f6f6;

    }
    section h2{
        padding-top: 50px;
    }
    #pagecentrale{
        
        display: flex;

        flex-direction: column;

    }
    #pagecentrale a{
        text-decoration: none;
        color: black;
    }
    @keyframes animationcentrale{

        from{ transform: translateY(10px); opacity:0 } 
        to{ transform: translateY(0); opacity:1 }
    }
    
    .carteresto{
        border-style: none;
        border: 1px solid grey;
        margin-bottom: 20px;
        border-radius: 15px;
        margin-left: 25px;
        margin-right: 25px;
        border-style: none;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    }
    
    .carteresto h3{
        margin-left: 15px;
        margin-top: 10px;
        margin-bottom: 0px;
    }
    .carteresto p{
        margin-left: 15px;
        margin-top: 5px;
        margin-bottom: 15px;
    }
    .alltxt{
        display: flex;
        justify-content: space-between;
        align-items: center;
    } 
    .restoimg{
        object-fit: cover;
        width: 100%;
        height: 200px;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
    }
    
    .restoicon{
        margin-right: 30px;
        font-size: 25px;
        
    }
    .restoiconanim{
        font-size: 25px;
        margin-right: 30px;
        color: violet;
        
    }
    .heart:hover .hearticonvide{
        display: none;
        
    }
    .hearticonplein{
        display: none;
        transform-origin: center;
    }
    .heart:hover .hearticonplein{
        display: inherit;
        animation-name: heartanim;
        animation-duration: 400ms;
        animation-timing-function: ease-in-out;
    }

    @keyframes heartanim{
        from{transform:scaleY(0)}

        to{transform: scaleY(1.0);}
    }
    

    
    /*footer*/

    #basdepage{
        display: flex;
        flex-direction: column;
        background-color: #353535;
    }
    #basdepage img{
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 25px;
        max-width: 200px;
    	min-width: 100px;
    }
    footer a{
        text-decoration: none;
        color: white;
        margin-left: 25px;
        margin-bottom: 8px;
    }
    footer img{
        width: 20%;
        height:20%;
    }

    footer i{
        color: white;
        padding-right: 10px;
    }
    .iconfooter{
        margin-bottom: 8px;
    }
     .iconcouvert{
        padding-right: 17px;
    }

@media (min-width: 1100px){

   header{
       width: 80%;
       margin: auto;
   }
   nav{
        width: 80%;
        margin: auto;
   }
   
   #logo{
       border-bottom: none;
   }
   #localisation{
    border: 1px solid black;
    border-radius: 15px;
    margin-bottom: 10px;
    border-style: none;
    width: 800px;
       
   }
   #Intro{
       border: 1px solid black;
       border-radius: 15px;
       border-style: none;
       
   }
   section{
    border: 1px solid black;
    border-radius: 15px;
    border-style: none;
    margin-bottom: 30px;
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
   }
   #basdepage{
       align-items: center;
    }
    .loader{
        margin-left: 48%;
    }
    h2{
        margin-left: 220px;
    }
    section h2{
        padding-top: 20px;
        margin-left: 80px;
    }
}

