@font-face{
	font-family: 'Shrikhand';
	font-family: 'Roboto';
	src: url('Roboto-ThinItalic-webfont.eot');
}



body{
	margin: 0px;

}
h1{
	font-family: 'Shrikhand', cursive;
}
h2, h3, p, a{
	font-family: 'Roboto', sans-serif;
}


	.blocpage{
		width: 100%;
		margin: auto;
	}
	.header{
		display: flex;
		width: 100%;
		align-items: center;
		border-bottom: 1px solid grey;
	}
	.header img{
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 40%;
		max-width: 400px;
		margin-top: 23px;
		margin-bottom: 13px;
	}
	
	.iconheader{
		margin-left: 100%;
		font-size: 130%;
		color: black;
	}
	.restoimg{
		width: 100%;
		height: 300px;
		object-fit: cover;
	}
	section{
		display: flex;
		flex-direction:column ;
		width: 100%;
		
		background-color: #f6f6f6;

		
	}
	section h1{
		font-size: 1.9em;
		padding-left: 20px;
	}
	section h2{
		font-size: 1em;
		margin-left: 20px;
		border-bottom: 2px solid #99e2d0;
		width: 45px;
		padding-bottom: 5px;
		font-weight: normal;
	}
	section h3{
		margin-top: 12px;
		margin-bottom: 0px;
		padding-left: 10px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		
	}
	section p{
		padding-left: 10px;
		margin-top: 5px;
		margin-bottom: 12px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.titremenu{
		display: flex;
		width: 100%;
		justify-content: space-between;
		align-items: center;
		margin-top: -70px;
		border-top-left-radius: 40px;
		border-top-right-radius: 40px ;
		background-color:#f6f6f6 ;
		
	}
	.restoicon{
		font-size: 25px;
		padding-right: 35px;
	}
	.restoiconanim{
        font-size: 25px;
        margin-right: 35px;
        color: violet;
        
    }
    .heart:hover .hearticonvide{
        display: none;
        
    }
    .hearticonplein{
        display: none;
        transform-origin: center;
    }
    .heart:hover .hearticonplein{
        display: inherit;
        animation-name: heartanim;
        animation-duration: 400ms;
        animation-timing-function: ease-in-out;
    }

    @keyframes heartanim{
        from{transform:scaleY(0)}

        to{transform: scaleY(1.0);}
    }
	.carteplat{
		display: flex;
		box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
		border: 1px grey solid;
		border-style: none;
		border-radius: 15px;
		margin-bottom: 15px;
		margin-right: 10px;
		margin-left: 10px;
		
	}
	.plats{
		width: 100%;
	}
	.checkanim{
		
		
		padding-top: 26px;
		padding-right: 22px;
		padding-left: 18px;
		padding-bottom: 20px;
		border-top-right-radius: 15px ;
		border-bottom-right-radius:	15px ;
		background-color: #99e2d0;
		transform-origin: right;
		display: none; 
		
	}
	.carteplat:hover .checkanim{
		animation-name: animationprix;
		animation-duration: 900ms;
		animation-timing-function: ease;
		display: inherit;

	}
	
	.carteplat:hover .animprixicon{
		animation-name: iconspin;
		animation-duration: 800ms;
	}
	.plats:hover .prix{
		margin-left: 28%;
		
		animation-name: decalageprix;
		animation-duration: 900ms;
		animation-timing-function: ease;
	}
		
	.txtprix{
		
		display: flex;
		justify-content: space-between;
	}
	
	.prix{
		
		
		padding-right: 15px;
	}
	
	.animprixicon{
		font-size: 130%;
		color: white;
		
	}
	@keyframes decalageprix{
		from{transform: translateX(30px);}
		to{transform: translateX(0px);}
	}
	@keyframes iconspin{
		from{transform: rotate(0deg);}
		to{transform: rotate(360deg);}
	}
	@keyframes animationprix{
		from{transform: scaleX(0); }
		to{transform: scaleX(1.0);}
	}
	@keyframes animationplat{
		from{transform: translateY(10px); opacity: 0;}
		to{transform: translateY(0px); opacity: 1;}
	}
	.entrée{
		animation-name: animationplat;
		animation-duration: 600ms;
		animation-delay: 200ms;
		animation-fill-mode: both;
		animation-timing-function: ease-out;
	}
	.platprincipal{
		animation-name: animationplat;
		animation-duration: 600ms;
		animation-delay: 600ms;
		animation-fill-mode: both;
		animation-timing-function: ease-out;
	}
	.dessert{
		animation-name: animationplat;
		animation-duration: 600ms;
		animation-delay: 1000ms;
		animation-fill-mode: both;
		animation-timing-function: ease-out;
	}
	.btn {
        width: 60%;
        background: linear-gradient(to bottom right,#e972da,#b561db);
        margin-top: 5px;
        margin-bottom: 35px;
        padding: 15px 8px 15px 8px;
        border-radius: 30px;
        border-style: none;
        font-size: 110%;
        color: white;
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
        margin-left: auto;
        margin-right: auto;
        margin-top: 40px;
        margin-bottom: 80px;
        transition: all 200ms;
       }
    .btn:hover{
    	filter: brightness(1.05);
    	box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
    }
	#basdepage{
        display: flex;
        flex-direction: column;
        background-color: #353535;
    }
    #basdepage img{
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 25px;
		max-width: 200px;
    	min-width: 100px;
    }
    footer img{
    	width: 20%;
    	height: 20%;
    }
    footer a{
        text-decoration: none;
        color: white;
        margin-left: 25px;
        margin-bottom: 8px;
    }

    footer i{
        color: white;
        padding-right: 10px;
    }
    .iconcouvert{
    	padding-right: 17px;
    }
    .iconfooter{
        margin-bottom: 8px;
    }
	@media (min-width: 1000px){
		section{
			align-items: center;
		}
		section h1{
			margin-left: 200px;
		}
		section h2{
			margin-left: 60px;
		}
		.heart{
			margin-right: 200px;
		}
		
		.entrée{
			width: 60%;
		}
		.platprincipal{
			width: 60%;
		}
		.dessert{
			width: 60%
 		}
		#basdepage{
			 align-items: center;
		}
		.btn{
			width: 400px;
		}
	}
